@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1c1c1c;
    color: #fff;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: montserrat, inter;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #fff;
    padding: .5rem;
}